<div class="row marketing">
    <div class="text-center">
        <h3>Leita</h3>
    </div>

    <form name="Search" class="form-inline" role="form">
        <div class="form-group">
            <label>Lykilord: </label>
            <input ng-maxlength="6" ng-minlength="6" type="text" class="form-control" ng-model="pass"
                   placeholder="Slá inn 6 stafa lykilorð ">
        </div>

        <button ng-disabled="Search.$invalid || Search.$pristine" type="button" ng-click="fetchOrder()"
                class="btn btn-default"><b>Saekja</b>
        </button>
    </form>


</div>
